.navbar{
    display: flex;
    background-color: black;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}

.one{
    color: yellowgreen;
}
.two{
    font-size: larger;
}