<!-- <div class="navbar">
    <ul *ngFor="let nav of navbar" >
        <li><a>{{nav}}</a></li>
    </ul>
</div> -->


<h1  [ngStyle]="{'color':'blue'}" >This is app</h1>

<input type="radio" name="1" id="" (click)="value(true)">True
<input type="radio" name="1" id="" (click)="value(false)">False

<!-- ----------------------------------------------------------------  -->
<h1>if</h1>
<div *ngIf="condition" >
    <h5>You are hero</h5>
</div>
<!-- ------------------------------------------------------------ -->
<h1>If else</h1>
<div *ngIf="condition; else elseBlock">
    <h5>you are hero</h5>
</div>
<ng-template #elseBlock> <h5>you are loser</h5></ng-template>

<!-- ----------------------------------------------------------------- -->
<h1>If then else</h1>
<div *ngIf="condition;then thenblock; else elseBlock"></div>


<ng-template #thenblock> <h5>you are winner</h5></ng-template>
<ng-template #elseBlock> <h5>you are loser</h5></ng-template>
<!-- -------------------------------------------------------------------------- -->
<hr>
<h1>Switch</h1>


<select name="" id="" (change)="setvalue($event)"  >
    <option value="">--select--</option >
    <option value="one">1</option >
    <option value="two">2</option>
    <option value="three">3</option>
    <option value="four">4</option>
    <option value="five">5</option>
    <option value="another">another</option>
</select>


<div [ngSwitch]="choice">
    <h2 *ngSwitchCase="'one'">first</h2>
    <h2 *ngSwitchCase="'two'">Second</h2>
    <h2 *ngSwitchCase="'three'">Third</h2>
    <h2 *ngSwitchCase="'four'">Fourth</h2>
    <h2 *ngSwitchCase="'five'">five</h2>
    <h2 *ngSwitchDefault>none</h2>
</div>



<h1>For-loop</h1>

<div *ngFor="let i of names">
    {{i}}
</div>


<div *ngFor="let i of names1; let ind=index; let f=first; let l=last; let e=even">
    {{ind}} - {{i.name}} - {{f}} - {{l}} -{{e}}
</div>


<table border="1">
    <tr *ngFor="let i of student; trackBy:trackbyid">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
    </tr>
</table>

<button (click)="getmore()">Get more Student</button>


<hr>
<h1>Grouping</h1>

<ul *ngFor="let g of Countrydata">
    <li>{{g.country}}</li>
    <ul *ngFor="let person of g.people" >
        <li [ngStyle]="{'color':g.country==='india'?'blue':'green'}" >{{person.name}}</li>
    </ul>
</ul>


<!--NgClASS -->

<!-- <p class="one" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, excepturi. Blanditiis quasi nesciunt placeat ad omnis labore suscipit deleniti libero. Praesentium voluptates quaerat est in mollitia suscipit fuga molestiae odit!</p> -->

<!-- [ngClass]=" 'one' " -->
<!-- [ngClass]=" 'one two' " -->
<!-- [ngClass]=" ['one' ,'two'] " -->
<!-- [ngClass]=" {'one':true ,'two':false} " -->

<p [ngClass]=" {'one':false ,'two':true} ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, excepturi. Blanditiis quasi nesciunt placeat ad omnis labore suscipit deleniti libero. Praesentium voluptates quaerat est in mollitia suscipit fuga molestiae odit </p>



<h2 style="color:'red'">nsubsgrosgrkp</h2>
<h2 [attr.color] = "mycolor">nsubsgrhgearhaosgrrkp</h2>   <!---- not work- -->


<input type="text" [value]='data' (input)='myinput($event)'>
<h1>Your name is {{data}} </h1>


<hr><br>


<input type="text" [(ngModel)]='data1'>
<h1>Your name is {{data1}} </h1>


<!-- Pipe -->
{{myjson | json}}
<br>
{{mydate | date:'medium' |uppercase}}
<br>

<table border="3">
    <tr *ngFor="let e of emp">
        <td>{{e.name | mypipe:e.gender}}</td>
        <td>{{e.age}}</td>
        <td>{{e.gender}}</td>
    </tr>
</table>

<a routerLink='/student' routerLinkActive='active-link'>Student</a>

<br>

<button (click)="student1()">Show Student</button>


<br><br>
<a routerLink='/register' routerLinkActive='active-link'>Student Register</a>

<!-- <app-employeelogin></app-employeelogin> -->
<router-outlet></router-outlet>